body{
    margin: 0;
    padding: 0;
}

.container-fluid{
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
}

#distance-to-navigation{
    width: 100vw;
    background: black;
    margin-top: 70px;
}

.puffer-to-navigation{
    height: 80px;
    width: 100%;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
}

#number-1{
    background: gold;
    transform: scale(1);
    animation: pulse 3s infinite;
}

#number-2{
    background: silver;
}

#number-3{
    background: #bf8970;
}

#redLight{
    background: red;
    color: white;
}

/*.card:last-child{*/
/*    background: red;*/
/*}*/

.card{
    height: 100px;
    width: 100%;
    position: relative;
}

.ranking-number-wrapper, .player-informations, .player-elos, .player-association{
    position: absolute;
}

.ranking-number, .player-association, .player-elos{
    /*text-align: center;*/
    /*justify-content: center;*/
}

.ranking-number-wrapper{
    height: 100%;
    width: 15%;
    /*background: blue;*/
    left: 0;
    top: 0;
}

.ranking-number{
    height: 100%;
    width: 100%;
    /*background: violet;*/
    font-size: 60px;
    margin-left: 10px;
}

.player-informations{
    height: 100%;
    width: 65%;
    top: 0;
    left: 15%;
    /*background: red;*/
    font-size: 25px;
}

.player-name{
    height: 50%;
}

.player-club{
    height: 50%;
}

.player-association{
    height: 50%;
    width: 20%;
    top: 0;
    left: 80%;
}

.player-elos{
    height: 50%;
    width: 20%;
    top: 50%;
    left: 80%;
    /*background: darkcyan;*/
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@media screen and (max-width: 1018px) {
    .ranking-number-wrapper{
        width: 25%;
        left: 0;
    }

    .player-informations{
        left: 25%;
        width: 65%;
    }

    .player-association, .player-elos{
        width: 10%;
        left: 90%;
    }

    .ranking-number{
        margin-top: 16px;
        font-size: 40px;
    }
}