body{
    margin: 0;
    padding: 0;
}

.container-fluid{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#distance-to-navigation{
    width: 100vw;
    margin-top: 70px;
}

.puffer-to-navigation{
    height: 80px;
    width: 100%;
}

.card{
    text-align: center;
}

.row{
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
}

#data-content-clubs{
    height: calc(100%);
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

table{
    border-top: solid dimgray 1px;
    border-left: solid dimgray 1px;
    border-right: solid dimgray 1px;
    border-bottom: solid dimgray 1px;
    cursor: pointer;
}

thead{
    background: darkcyan;
    color: white;
}

tr{
    border-bottom: solid dimgray 1px;
}

tr:hover{
    background: darkcyan !important;
    color: white;
}

#table-body{
    cursor: pointer;
}

.white{
    background: white;
    color:black;
}

.light-gray{
    background: lightgray;
    color: white;
}

.white:hover, .light-gray:hover {
    background: darkcyan;
    color: white;
}


a:link{
    text-decoration: none;
}