body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw
}

.container-fluid{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#distance-to-navigation{
    width: 100vw;
    /*background: black;*/
    margin-top: 70px;
}

.puffer-to-navigation{
    height: 80px;
    width: 100%;
}

.card{
    text-align: center;
}

.row{
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 10px;
}

#data-content-clubs{
    /*height: 100%;*/
    height: calc(100%);
    /*width: 100%;*/
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}

table{
    border-top: solid dimgray 1px;
    border-left: solid dimgray 1px;
    border-right: solid dimgray 1px;
    border-bottom: solid dimgray 1px;
    cursor: pointer;s
}

thead{
    /*background: slategray;*/
    background: darkcyan;
    color: white;
}

tr{
    border-bottom: solid dimgray 1px;
}

#table-body{
    cursor: pointer;
}
